.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1336px;
    min-width: 1336px;
    margin-bottom: 15px;

    &__list{
        display: flex;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        list-style: none;
    }

    &__item {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

    }

    &__link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        margin-right: 20px;
    }
    &__link:hover{
        color: #808080;
        transition: 0.5s ease;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
        font-weight: 400;
        margin: 0;
        padding:0 ;
        padding-left: 20px;
    }

    &__right {
        width: 170px;
        height: 35px;
        display: flex;
        align-items: center;
        background-color: #E7E7E7;
        margin-right: 60px;
        border-radius: 40px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f9f9f9;
        padding: 14px;
        border-radius: 50%;
        transform: translateX(15px);
        cursor: pointer;
    }
    &__end {
        display: flex;
        align-items: center;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 50%;
        margin-left: 35px;
        cursor: pointer;
    }



}