.section {
    background-color: #f0f0f0;
    width: 100%;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__icon {
        margin-left: 10px;
    }
    &__tittle {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #17206A;
    }

    &__right {
        display: flex;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    
    &__link {
        text-decoration: none;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__card {
        width: 298px;
        background-color: #ffffff;
        margin-bottom: 45px;
    }

    &__card__tittle {
        margin: 0;     
        width: 251px;   
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        color: #000000;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    &__rotate {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        color: #E3E3E3;
        margin-right: 10px;
        transform: rotate(-90deg) translateY(130px) translateX(155px);
    }

    &__restlange {
        // position: absolute;
        box-shadow: 8px 8px 0px 0px #17206A;
        margin-left: -15px;
        margin-top: -15px;
    }

    &__inner {
        display: flex;
        justify-content: space-around;
    }
}